<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>
<h1>스프링 부트로 시작하는 웹 서비스</h1>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <a href="/welcome" role="button" class="btn btn-primary">아무나 들어갈수있는곳</a><br/>
            <a href="/youtube" role="button" class="btn btn-primary">로그인한 유저만 들어오는곳</a><br/>
            <a href="/logout" class="btn btn-info active" role="button">Logout</a><br/>
            <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a><br/>
            <a href="/oauth2/authorization/naver" class="btn btn-success active" role="button">Naver Login</a><br/>
            <a href="/oauth2/authorization/kakao" class="btn btn-success active" role="button">Kakao Login</a><br/>
        </div>
    </div>
</div>
</body>
</html>